html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  @media screen and (min-width: 380px) {
    body {
      margin: 10px 4%;
      background-color: rgb(247, 205, 212);
    }
    header {
      margin: 10px 4%;
      align-items: center;
      text-align: center;
    }
    header p {
      font-size: 1.3em;
      background-color: rgb(235, 165, 177); 
      color: white;
    }
    h1 {
        font-size: 1.1em;
    }
    h2 {
      font-size: 1.1em;
    }
    h3 {
      font-size: 1.1em;
    }
    article p { 
      font-size: 0.9em;
      margin: 10px 4%;
      align-items: center;
    }
  }

  @media screen and (min-width: 700px) {
  body {
    margin: 20px 8%;
  }
  header {
    font-size: 1.7em;
    align-items: center;
    text-align: center;
  }

  h1 {
      font-size: 1.3em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.3em;
  }
  article p { 
    font-size: 1.1em;
    margin: 10px 4%;
    align-items: center;
  }
 h3.p {
   align-items: center;
 }
  }

  @media screen and (min-width: 1000px) {
    body {
      margin: 20px 8%;
    }
    header {
      font-size: 1.7em;
      align-items: center;
      text-align: center;
    }
    li {
      font-size: 1.4;
      list-style-type: none;
    }
  
    h1 {
        font-size: 1.3em;
    }
    h2 {
      font-size: 1.3em;
    }
    h3 {
      font-size: 1.3em;
    }
    article p { 
      font-size: 1.2em;
      margin: 10px 4%;
      align-items: center;
    }
   h3.p {
     align-items: center;
   }
  }

